.card-heading {
    margin-bottom: 3.2rem;
}

.super_hit {
    background-color: #7dcea0;
}

.avarage {
    background-color: #f7dc6f;
}

.rating {
    padding: 0.3rem 1.8rem;
    color: #000;
    margin-left: 1rem;
    border-radius: 100rem;
    font-size: 20px;

}