/* ======================================================
   This file contains global CSS styles
   These styles apply to the entire application
====================================================== */

/* ================= BASE RULE ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%;
}

/* ================= TYPOGRAPHY ================= */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 3.2rem;
}

a,
label {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--para-color);
  line-height: 1.5;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
}

/* ================= THEME VARIABLES ================= */
:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;

  --font-color: #424242;
  --bg-color: #ffffff;

  --heading-color: #000a19;
  --h-color: #0a043c;

  --white-color: #ffffff;
  --test-color: #070101;

  --para-color: #504e4d;

  --btn-hover-bg-color: #003fcc;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* ================= LAYOUT ================= */
.container {
  max-width: 142rem;
  margin: auto;
  padding: 9.6rem 2.4rem;
}

/* ================= GRID SYSTEM ================= */
.grid {
  display: grid;
  gap: 9.6rem;
    align-items: stretch;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}


/* ==================== Card design=================== */

.series-card {
  width: 100%;
  max-width: 35rem;
  height: 52rem;

  background-color: var(--white-color);
  padding: 2.4rem;
  border-radius: 1.2rem;

  box-shadow: var(--btn-box-shadow);

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  position: relative;
  overflow: visible;

}

.card-img img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.8rem;
}

.btn {
  width: 100%;
  padding: 1rem;
  background: var(--main-color);
  color: white;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
}

.card-desc {
  flex-grow: 1;
  overflow: hidden;
}

